body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: gainsboro;
}

.Grid {
  --content-bg: transparent;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 800px;
  height: 600px;
  background-color: white;
}

.header-container {
  height: 32px;
  white-space: nowrap;
  font-size: 0;
}

.header-container .Header {
  display: inline-block;
}

.fixed.Header {
  width: 200px;
}

.scrollable.Header {
  width: 1270px;
}
.scrolling-header-container {
  width: 600px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.Header {
  height: 32px;
  background-color: burlywood;

  background-image: linear-gradient(brown 2px, transparent 2px),
    linear-gradient(90deg, brown 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.Viewport {
  position: absolute;
  top: 32px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: auto;
}

.Grid.scrolling-x > .Header {
  display: none;
}

.Grid.scrolling-x .Viewport {
  overflow-y: hidden !important;
  top: 0 !important;
}

.scrolling-canvas-container {
  font-size: 0;
  height: 1200px;
  width: 785px;
  background-color: rgba(0, 0, 255, 0.1);
  blue-space: nowrap;
  transform: translate3d(0, 0, 0);
}

.scrolling-x .scrolling-canvas-container {
  height: 1232px;
}

.Canvas {
  height: 568px;
  display: inline-block;
  vertical-align: top;
  position: sticky;
  top: 0;

  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.025) 50%,
    rgba(0, 0, 0, 0.025)
  );
  background-size: 100% 50px; */
}

.Canvas .Header {
  display: none;
  position: absolute;
  top: 0;
}

.Grid.scrolling-x .Canvas {
  height: 600px;
}

.Grid.scrolling-x .Canvas .Header {
  display: block;
}

.scrolling.Viewport .Canvas {
  position: static;
  height: 1200px;
}

.Canvas.fixed {
  width: 200px;
  background-color: rgba(0, 255, 0, 0.2);
}

.Canvas.scrollable {
  width: 585px;
  background-color: rgba(255, 0, 255, 0.1);
  overflow-x: auto;
  overflow-y: hidden;
}

.Canvas.fixed .Header {
  width: 200px;
}
.Canvas.scrollable .Header {
  width: 1270px;
}

.fixed .canvas-content-wrapper {
  width: 200px;
  overflow: hidden;
}

.scrollable .canvas-content-wrapper {
  width: 585px;
}

.fixed .canvas-content {
  width: 200px;
  height: 1200px;
  background-color: var(--content-bg);
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.scrolling.Viewport .fixed.Canvas .canvas-content {
  transform: none !important;
}

.scrollable .canvas-content {
  width: 1270px;
  height: 1200px;
  position: relative;

  background-color: var(--content-bg);
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
